html {
	background-color: #1785C2;
}

.container {

}

table {
	margin: 30px auto;
	max-width: 960px;

}

td {
	width: 210px;
	height: 210px;
	background-color: #F2F2F2;
	text-align: center;
	border-radius: 200px;
	font-size: 25px;
}

td:hover {
	background-color: #DDD;
}

td div {
	background-color: #1785C2;
	width: 210px;
	height: 210px;
	border-radius: 200px;
}



.matched {
	display: block;
	background-color: #CCFFB2;
	display: table-cell;
	vertical-align:middle;
}
.unmatched {
	display: none;
}