.container {
	width: 500px;
	height: 600px;
	margin: 0 auto;
}

.card_holder {
	float: left;
	margin: 10px;
	position: relative;
}

.card_holder div img {
	margin-top: 4px;
	border-radius: 8px;
}

.cover {
	position: absolute;
	top: 0px;
}

.remove_cover{
	z-index: -1;
}	

.matched {
	z-index: -1;
}

.clicked {
	z-index: -1;
}


