.container {
	width: 500px;
	height: 600px;
	margin: 0 auto;
}

.card_holder {
	float: left;
	margin: 10px;
}

.selected {
	background-color: red;
}

.matched {
	background-color: green;
}

.clicked {
	background-color: red;
}