/* CSS Document */

h1 {
	text-align: center;
}
table {
	width: 100%;
	text-align: center;

}
td {
	height: 100px;
	width: 100px;
	border-radius: 10px;
}

td div {
	height: 100px;
	width: 100px;
	border-radius: 10px;
}

.hide {
	display:none;
}

.noHide {
	display:block;
	background-color: blue;
	display: table-cell;
	vertical-align: middle;
	
}

td:hover{
	background-color: yellow;
}

